<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kgvc"
    android:versionCode="3"
    android:versionName="1.2.5" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_kgvc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kgvc.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kgvc.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:noHistory="true">
        </activity>
        <activity android:name="com.kgvc.StandenActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">
        </activity>
        <activity android:name="com.kgvc.UitslagenActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">
        </activity>
        <activity android:name="com.kgvc.FieldMapActivity"
            android:noHistory="true">
        </activity>
        <activity android:name="com.kgvc.ProgrammaActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">
        </activity>
        <activity android:name="com.kgvc.WeekUitslagenActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">
        </activity>
    </application>

</manifest>
