<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kgvc" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_kgvc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kgvc.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kgvc.StandenActivity">
        </activity>
        <activity android:name="com.kgvc.UitslagenActivity">
        </activity>
        <activity android:name="com.kgvc.FieldMapActivity">
        </activity>
        <activity android:name="com.kgvc.ProgrammaActivity">
        </activity>
        <activity android:name="com.kgvc.WeekUitslagenActivity">
        </activity>
    </application>

</manifest>
